*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.nav-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f5f5f5;
    height: 40px;
}

.nav-1 img {
    height: 20px;
    width: 20px;
}
.nav-2-logo img{
    height: 50px;
    width: 50px;
}

.quick-links a{
    justify-content: space-evenly;
    text-decoration: none;
    padding-right: 5px;
    color: rgb(40, 40, 40);
    font-size: 12px;
}

.quick-links a span{
    padding-right: 4px;
    padding-left: 4px;
    color: rgb(40, 40, 40);
}

.quick-links a:hover, .nav-1 img:hover, .nav-2-logo img:hover{
    opacity: 0.5;
    cursor: pointer;
}


.nav-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 60px;
}

.nav-2-logo{
    transform: scale(1.33);
}

.nav-2-links a{
    padding: 12px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: #111111;
}

.inputfield{
    position: relative;
}
.inputfield input[type="text"]::placeholder {
    padding-left: 60px; 
}
.search{
    border-radius: 20px;
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
}
.search-icon{
    position: absolute;
    right: 240px; 
    top: 55%;
    transform: translateY(-50%);
}

.icon2{
    padding: 12px;
    font-size: 20px;
}

.nav-3{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 55px;
    background-color: #f5f5f5;
}

.sec-para {
    padding-top: 5px;
    padding-bottom: 7px;
    font-size: 16px;
}

.thd-para {
    font-size: 12px;
}


.main-content{
    display: flex;
}

.main-content img{
    width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.main-content-add-text{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 50px;
}

.main-content-add-text h1{
    font-weight: bolder;
    font-size: 50px;
}

.main-content-add-text p{
    font-size: 14px;
}

.sec-add-text, .button{
    margin-top: 20px;
}

.button{
    border-radius: 30px;
    font-size: 14px;
    width: 85px; 
    height: 40px; 
    background-color: #111111;
    color: #fff;
}

.shop-h{
    font-size: 24px;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.shop-items{
    display: flex;
   justify-content: space-between;
   padding-left: 50px;
  padding-right: 50px;
   
}

.image1 img, .image2 img, .image3 img{
    width: 465px;
    height: 465px;
    margin-bottom: 20px;
}

span{
    padding-left: 240px;
}

.p-h, .p-h span {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
}

.p-p{
    font-size: 16px;
}